@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

#root {
  height: -webkit-fill-available;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
